.center-text {
  text-align: center;
}

.img-responsive {
   display: block;
   margin: 0 auto;
}

/*body div{
  border: solid;
}*/

@media (min-height: 724px) and (min-width: 1000px) {
  body {
    background-image: url(http://www.clker.com/cliparts/W/X/u/B/Z/S/red-line-with-transparent-background.svg);
    background-position: -20% -30%;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.sub-intro {
  background-color: #FAFAFA;
}

.bottom-aligned-text {
    margin-top: 15px;
  }

.right-side {
  border-right: solid;
}

@media (max-width: 996px) {
  #responsive-center {
    text-align: center;
  }
}

.mid-bar {
  background-color: #f2f2f2;
}

.detail {
  background-color: #f2f2f2;
}

.mid-text {
  border-top: solid;
  border-color: #f2f2f2;
  background-color: #FAFAFA;
}

.mid-center {
  background-color: black;
  color: #f2f2f2;
  font-size: 40px;
}

.box-shadow .mid-center, .mid-bar, .mid-text, .sub-intro, .intro, .email-message, .inquiries {
  box-shadow: 12px 5px 15px -4px lightgrey, -12px 0 8px -4px lightgrey;
}

.space {
  margin-top: 150px
  text: 10px;
  margin-bottom: 10px;
}

.v-align {
  vertical-align: top;
  margin-top: -5px;
}

.topic-link .pointer {
  float: right;
  display: none;
}

.topic-link.active .pointer {
  display: block;
}

#pitch {
  margin-top: 20px;
  margin-bottom: 20px;
}

.email-message {
  width: 500px;
  height: 250px;
}

.email {
  width: 200px;
  height: 25px;
}

.inquiries {
  width: 500px;
  margin: auto;
}
