<div class="row">
  <div class="col-md-7 right-side">
    I don't lecture nor do I have a 'curriculum'.  I do however make sure you have a solid knowledge base of what it takes to land that
    first job or internship.  I do this by seeing where you're at and what you need to learn and then pointing you towards
    valuable material that covers those topics.  If you get stuck or need a clarification I will dive into a topic with you and clarify any confusion.
    Often people will exhaust the materials available to them but still feel inadequate working on a solo project or building their portfolio.
    At this point I will pair program with you on your projects and allow you to pair programm with me on my projects thus helping
    you get comfortable with the complexity of a production level code base. You'll also have the opportunity to spend a day or two shadowing me
    in the office and sit in on a sprint planning meeting.
  </div>
  <div class="col-md-5">
    These are the topics that I'll recommend you gain familiarity in before you start interviewing:
    <br>
    <li>Basic web development fundamentals</li>
    <li>HTML/CSS/Bootstrap</li>
    <li>Ruby</li>
    <li>Ruby on Rails</li>
    <li>JQuery/Javascript</li>
    <li>Client Side Frameworks(Ember)</li>
    <li>SQL Databases(MySQL and PostgreSQL)</li>
    <li>ActiveRecord</li>
    <li>Algorithms</li>
  </div>
</div>
{{outlet}}
