<div class="">

Landing a job is half effort, half luck and half being able to effectively communicate the knowledge that you've acquired.  When I finished my bootcamp
some people landed jobs the day of and others went months without any offers.
There's a lot of pressure, I was aware of people that chose not to interview because they felt unprepared or others that
took offers only to return to their previous professions after a few short months.
</div>
<br>
<div class="">
That's the beauty of the Dev House, there isn't a cliff at the end that requires you to either fly or die.  Interviewing is instead a
learning experience that informs your education in terms of what you need to work on as well as what is your ideal position/work environment.  I even suggest
remaining in the Dev House for the first month or two of your new job so that you have that support you need as you get used to being a professional developer.
</div>
<br>
<div class="">
Another great advantage of the Dev House is that you will have the opportunity to help other members of the house by explaining concepts
that you've recently learned.  Which will intern build the communication skills neccessary for interviewing.
</div>
{{outlet}}
