<div class="">
  I'll provide 15hrs a week of group mentorship and one hour a week of personal mentorship.
  <br>
  Sample schedule below, I'll finalize a schedule according to participants availabilities(for example we might not study Thursday and Friday night but make up for it with 6 hours of dedicated time on Saturday)
</div>
<br>
<li>6-9pm on weeknights is house study time where I'll make myself 100% available to the group, this is a formal time to ask me any question, get help on your personal project, review some code you've written, collaborate with your housemates, etc.</li>
<br>
<li>One hour individual mentorship at a set time each week, this can be a code review, pair programming a on project or exploring a tricky topic.  This will probably be a Saturday or Sunday activity</li>
<br>
<li>Outside of the formal study blocks and weekly one on ones I want everyone to feel comfortable asking for help just the same, either from me or each other.  I'm willing to help whenever my schedule permits.</li>
{{outlet}}
