I just bought a beautiful brand new 4 bed 3 full bath house in South East Austin(pictures are of the same model
house as mine from the builders website). According to google maps it is 13 minutes from my house to
downtown(Easy Tiger on 6th street). I'm looking for 3 roommates. The house has 4 common areas; an office, living room,
dining room, and a game room, so there is plenty of space. It's a new community and the community pool will be finished this spring.
The house is still being built but is scheduled to be finished the end of January. I'm looking for roommates the beginning of
March but if you need to move a couple weeks earlier or a little bit later that's fine too.
  <div class="row">
    <div class="col-md-4">
      <img src="http://cdn.lennar.net/~/media/Com/Images/New-Homes/18/1/1992/16464/GAI/722%20x%20460%20Falcon%20Pointe%2018.jpg?d=20150202T175556" class="img-responsive" alt="DevHouseATX" width="304" height="236">
    </div>
    <div class="col-md-4">
      <img src="http://cdn.lennar.net/~/media/Com/Images/New-Homes/18/1/2079/17255/GAI/EBF_6003And4more%20copy.jpg?d=20150924T182620" class="img-responsive" alt="DevHouseATX" width="304" height="236">
    </div>
    <div class="col-md-4">
      <img src="http://cdn.lennar.net/~/media/Com/Images/New-Homes/18/1/2079/17255/GAI/EBF_6093And4more%20copy.jpg?d=20150924T182618" class="img-responsive" alt="DevHouseATX" width="304" height="236">
    </div>
  </div>

{{outlet}}
