<div class="">
  I'm a full stack web developer here in Austin with an affinity for the backend development(I prefer to work on the data and 'wiring' of web applications as opposed to the design and styling). I work with Ruby on Rails, Javascript and Ember full time for a late stage start up.
  I myself graduated from Makersquare(well regarded local bootcamp) a couple of years ago and have been
  happily employed as a software engineer ever since. This last spring I volunteered for Railsbridge Austin(focused on encouraging
  and helping women and minorities learn programming) and mentored a couple
  of friends as they were job hunting(both were successful in their job hunt).
</div>
<br>
<div class="">
  I'm a super laid back guy in my 30's I grew up in Idaho playing soccer and snowboarding. I switched careers
  into programming a few years ago after stints teaching elementary school and pedicabbing. Becoming a programmer
  was by far my best career decision and one of my better life decisions, I truly love my job! I believe respect
  and open communication is key when it comes to roommates. We'll hold a short monthly meeting to address any
  issues and democratically create any house rules if necessary(I like to avoid rules as much as possible but
  sometimes they're helpful). I'm fairly social and like to enjoy a happy hour with friends, you're welcome to
  entertain friends and have overnight guests as long as it's not during our evening study block(or whatever time
  we decide upon as a house for study time).
</div>
<br>
<div class="">
  My Linkedin: <a href="https://www.linkedin.com/in/tyler-wasden-15617910" target="_blank">Tyler Wasden</a>
</div>

{{outlet}}
