<div class="">
  I'm renting 3 rooms in my house to people looking to career change or just boost their coding knowledge to enhance their current career.
  This will create a unique environment of camaraderie and focus. The house isn't a bootcamp and I won't be lecturing,
  it is a place for you to set your goals and work towards them at your own pace. Each weekday evening
  from 6-9(can make accommodations if you work evenings) will be set apart for studying and I will be there to
  answer your questions, explain a complicated topic, point you towards relevant study material, help you get unstuck
  solving a problem or pair program with you on a project. You'll also have roommates who'll be able to share their knowledge and insights
  with you therebye accelerating everybody's progress.
</div>
{{outlet}}
