<title>DevHouseATX</title>
<div class="container box-shadow">

  <div class="">
    <br>
    <div class="row intro">
      <h2 class="col-md-12 center-text">Dev House ATX</h2>
      <h2 class="col-md-12 center-text v-align">{{#scroll-to href='#pitch'}}{{#link-to "email" class="btn btn-default"}}info@devhouseatx.com{{/link-to}}{{/scroll-to}}</h2>
      <br>
      <img src="http://www.pd4pic.com/images/house-roof-blue-country-county-home-building.png" class="img-responsive" alt="DevHouseATX" width="304" height="236">
      <br>
    </div>
    <br>
  </div>
</div>
<div class="box-shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mid-center text-center" id="pitch">
        LEARN WEB DEVELOPMENT WHERE YOU LIVE
        <br>
      </div>
    </div>
  </div>
</div>
  <div class="box-shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mid-text">
        <br>
        <div>
        I'm renting 3 rooms in my house to people looking to career change or just boost their coding knowledge to
        enhance their current career. This will create a unique environment of camaraderie and focus.
        The house isn't a bootcamp and I won't be lecturing, it is a place for you to set your goals and work towards them at your own pace.
        Each weekday evening will be set apart for studying and I will be there to answer your questions,
        explain a complicated topic, point you towards
        relevant study material, help you get unstuck solving a problem or pair program with you on a project.
        You'll also have roommates who'll be able to share their knowledge and insights with you thereby accelerating everybody's progress.
      </div>
        <br>
    </div>
  </div>
</div>
<br>
<div class="container mid-bar">
  <div class="row" id='responsive-center'>
    <div class="col-md-3 center-text"></div>
    <div class="col-md-2 text-right btn"><h1>{{#scroll-to href='#pitch'}}{{#link-to "rent.me" class="btn btn-primary btn-lg"}}Rent a Room{{/link-to}}{{/scroll-to}}</h1></div>
    <div class="col-md-2 center-text text-bottom bottom-aligned-text"><h3>and</h3></div>
    <div class="col-md-2 text-left btn"><h1>{{#scroll-to href='#pitch'}}{{#link-to "code.curriculum" class="btn btn-primary btn-lg"}}Learn to Code{{/link-to}}{{/scroll-to}}</h1></div>
    <div class="col-md-3 center-text"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <br>
    {{outlet}}
  </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
