<div class="container sub-intro">
  <div class="col-md-2">
    <span>Learn to Code:</span>
  <div class="space">
    {{link-to "What You'll Learn" "code.curriculum" class="btn btn-sm btn-primary"}}
  </div>
  <div class="space">
    {{link-to "How Long is the Program" "code.duration" class="btn btn-sm btn-primary"}}
  </div>
  <div class="space">
    {{link-to "Getting a Job" "code.jobs" class="btn btn-sm btn-primary"}}
  </div>
  </div>
  <div class="col-md-10 mid-bar">
    <br>
      {{outlet}}
    <br>
  </div>
</div>
<br>
<br>
<h2 class="col-md-12 center-text v-align">{{#zero-clipboard text="devhouseatx@gmail.com" innerClass="btn btn-default"}}devhouseatx@gmail.com{{/zero-clipboard}}</h2>
