<div class="">
  A bootcamp is great but it is also a huge risk. You have to quit your job and shell out upwards of $15 to $18k. Then
  after three months you still might not find a job right away and spend a few more months looking. Between lost wages and tuition
  you're looking at anywhere from a $20 to $30k investment along with losing the stability of your full time job.
  Plus literally everything that is taught in a bootcamp is also explained for free online or
  through inexpensive books. Why not keep your day job, save some money and work towards your goals with a group
  of likeminded people in a fun and exciting learning/living environment. Renting a room in my home
  is a cost effective alternative for students, full time professionals or entrepreneurs looking to sharpen their coding chops or change careers.
</div>
<div class="">
The rent for the rooms ranges between $1000 for a private room with a shared bathroom and $1200 for a private room with a private bathroom.
It'll be month to month with a 30 day notice before moving out and a deposit of $1000.

</div>

  {{outlet}}
