<div class="container sub-intro">
  <div class="col-md-2">
    <h3>Rent a Room:</h3>
  <div class="space">
    {{#link-to "rent.me" class="topic-link btn btn-sm btn-primary"}}
      Me
    <span class="pointer glyphicon glyphicon-chevron-right"></span>
    {{/link-to}}
  </div>
  <div class="space">
    {{#link-to "rent.you" class="topic-link btn btn-sm btn-primary"}}
      You
    <span class="pointer glyphicon glyphicon-chevron-right"></span>
    {{/link-to}}
  </div>
  <div class="space">
    {{#link-to "rent.cost" class="topic-link btn btn-sm btn-primary"}}
      The Economics
    <span class="pointer glyphicon glyphicon-chevron-right"></span>
    {{/link-to}}
  </div>
  <div class="space">
    {{#link-to  "rent.house" class="topic-link btn btn-sm btn-primary"}}
      The House
    <span class="pointer glyphicon glyphicon-chevron-right"></span>
    {{/link-to}}
  </div>
  </div>
  <div class="col-md-10 detail">
    <br>
    {{outlet}}
    <br>
  </div>
</div>
<br>
<br>
<h2 class="col-md-12 center-text v-align">{{#scroll-to href='#pitch'}}{{#link-to "email" class="btn btn-default"}}info@devhouseatx.com{{/link-to}}{{/scroll-to}}</h2>
